@model CadeteriaMVC.Entidades.Pedido;

@{ ViewData["Title"] = "Cancelar pedido"; }

<div class="text-center">
    <h3>Cancelar pedido</h3>
</div>

<form asp-action="EliminarPedido" method="post">
    <input type="text" asp-for="Id" value="@Model.Id" hidden />
    <h5>Seguro desea eliminar al pedido Nº @Model.Id?</h5>
    <input type="submit" />
</form>