@model CadeteriaMVC.ViewModel.ClienteViewModel

<form asp-action="CrearCliente" method="post">
    <div class="container">
        <label asp-for="Nombre">Nombre</label>
        <input type="text" asp-for="Nombre" />
        <span asp-validation-for="Nombre"></span>
    </div>

    <div class="container">
        <label asp-for="Direccion">Direccion</label>
        <input type="text" asp-for="Direccion" />
        <span asp-validation-for="Direccion" />
    </div>

    <div class="container">
        <label asp-for="Telefono">Telefono</label>
        <input type="text" asp-for="Telefono" />
    </div>

    <input type="submit" />
</form>