@model CadeteriaMVC.Entidades.Cliente

<form asp-action="CrearCliente" method="post">
    <div class="container">
        <label asp-for="nombre">Nombre</label>
        <input type="text" asp-for="nombre" />
        <span asp-validation-for="nombre"></span>
    </div>

    <div class="container">
        <label asp-for="direccion">Direccion</label>
        <input type="text" asp-for="direccion" />
        <span asp-validation-for="direccion" />
    </div>

    <div class="container">
        <label asp-for="telefono">Telefono</label>
        <input type="text" asp-for="telefono" />
    </div>

    <input type="submit" />
</form>