@model CadeteriaMVC.ViewModel.ClienteViewModel
@{ ViewData["Title"] = "Inicio";}

<h1>¡Bienvenido, @Model.Nombre!</h1>

<a href="/Clientes/MostrarPedidos/@Model.ID" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ver mis pedidos</a>

