@model CadeteriaMVC.Entidades.Cliente


<form asp-action="ModificarCliente" method="post">
    <div class="container">
        <label asp-for="Nombre">Nombre</label>
        <input type="text" asp-for="Nombre" value="@Model.Nombre" />
    </div>

    <div class="container">
        <label asp-for="Direccion">Direccion</label>
        <input type="text" asp-for="Direccion" value="@Model.Direccion" />
    </div>

    <div class="container">
        <label asp-for="Telefono">Telefono</label>
        <input type="text" asp-for="Telefono" value="@Model.Telefono" />
    </div>

    <input type="hidden" asp-for="Id" value="@Model.Id" />

    <button type="submit">Enviar</button>
</form>