@model CadeteriaMVC.ViewModel.CadeteViewModel
@{ ViewData["Title"] = "Inicio";}

<h1>¡Bienvenido, @Model.Nombre!</h1>

<a href="/Cadetes/MostrarPedidos/@Model.ID" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ver mis pedidos</a>

<br />
<br />

<a href="/Cadetes/Informe/@Model.ID" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ver informe</a>
